@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Press+Start+2P&family=Rubik:wght@500&display=swap');
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: black; */
  background: linear-gradient(to bottom , rgb(0, 6, 88) , rgb(165, 220, 255));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html{
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav-left{
  margin-left: auto;
}
/* .nav li:first-child {
  margin-left: 1vw;
} */
.nav li:last-child {
  padding-right: 5vw;
}

.nav a{
  background-image: linear-gradient(to bottom , white , rgb(165, 220, 255));
  /* background-color: rgb(165, 220, 255); */
  /* background-color: rgb(9, 214, 204); */
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  font-size: 1.2em;
  border: 3px ridge white;
  /* border: 4px ridge rgb(101, 90, 255); */
  padding: 0.8em;
  letter-spacing: 2px;
  margin-left: 5em;
  color: rgb(2, 14, 117);
  /* color: rgb(255, 255, 255); */
  font-family: 'Permanent Marker', cursive;
  
} 

.nav a:hover ,  .active{
  padding: 0.5em;
  margin-bottom: 5px;
  box-shadow:5px 5px rgb(190, 247, 247);
  border: 5px ridge white;
  /* border: 5px ridge rgb(101, 90, 255); */
  cursor: pointer;
   
  
} 

.nav li:nth-child(4), .nav li:last-child{
  color:white;
  /* color:rgb(165, 220, 255); */
  font-size: 1.2em;
  margin-right: 15px;
  margin-top: 10px;
  font-family: 'Rubik', sans-serif; 
  letter-spacing: 1px; 
} 
/* .nav li:nth-child(5){
  background-color: rgb(19, 231, 220);
  
}  */
.nav li:last-child{
color:white  ;

} 
.nav li:last-child:hover{
  cursor: pointer;
} 


li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 60px;
  border-radius: 30px;
  margin-top: -9px;
  margin-right: 5px;
  
}
 .question-avatar{
  /* position: relative; */
  height: 18vh;
  border-radius: 50%;
  margin-top: 1vh;
  border: 4px solid white;
  
    
 }

.card-body{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 3vw;
  
  /* justify-content: flex-start; */
  color:white;
}

.name{
  color: rgb(0, 6, 88);
  /* background-color: rgb(255, 255, 255);  */
  text-align: left;
  /* border-radius: 20px; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 7vh;
  position: relative;
  line-height: 7vh;
  font-weight: 700;
  font-size: 1.2em;
  font-family: 'Rubik', sans-serif; 
  letter-spacing: 1px;
  
 
  
}
.question-card{
  /* background-color: rgb(165, 220, 255);   */
  background-image: linear-gradient(to bottom , white , rgb(165, 220, 255));
  border: 3px solid white;
  border-radius: 20px;
  width: 40vw;
  /* height: 31vh; */
  height:fit-content;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  /* margin-left: 25vw; */
  margin: auto;
  padding-bottom: 5vh;
}

.card-body div{
  color: rgb(0, 6, 88);
  
}
.b-pool{
  background-color: transparent;
  color: rgb(0, 6, 88);
  /* padding: 3em; */
  width: 14vw;
  height: 6vh;
  /* border: 2px solid rgb(0, 6, 88); */
  border-radius: 50px;
  border-color: rgb(0, 6, 88);
  font-size: 1.1em;
  font-family: 'Permanent Marker', cursive;
}
.b-pool:hover {
  background-color: white;
  cursor: pointer;
}


table {
  border-collapse: separate;
  border-spacing: 0;
  margin: auto;
  position: relative;
  top: 8vh;
  
  padding-bottom:7vh; 
 
}
table tr th
 {
  border-right: 3px solid rgb(251, 251, 251);
  /* border-bottom: 3px solid rgb(255, 255, 255); */
  padding: 1.1em;
  background-color: white;
  font-family: 'Rubik', sans-serif; 
}
table tr th:first-child
 {
  border-right: 5px solid rgb(0, 6, 88);
 
}
table tr th:hover, .tactive
 {
  background-color: transparent;
  cursor: pointer;
   border-bottom: 3px solid rgb(255, 255, 255);
   border-top: 3px solid rgb(255, 255, 255);
   color:white;
 
}


table tr td {
  border-right: 3px solid rgb(251, 251, 251);
 
  padding: 1.1em;
}



table tr:last-child td {
  border-bottom: 3px solid rgb(255, 255, 255);
  padding: 1.1em;
}
table tr th:first-child,
table tr td:first-child {
  border-left: 3px solid rgb(255, 255, 255);
}
table tr th {
 
  color:rgb(0, 6, 88);
  border-top: 1px solid rgb(255, 255, 255);
  font-size: 1.1em;
 
 
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 15px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 15px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}


.progressbar {
  background-color: rgb(12, 0, 80);
  border-radius: 10px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

.progressbar>div {
  background-color: rgb(255, 255, 255);
  /* width: 50%; */
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 7px;
  text-align:center;
}

.answer{
  /* background-color: rgba(18, 96, 221, 0.336); */
  height: fit-content;
  width : 22vw;
  padding: 20px;
  border: 3px solid white;
  border-radius: 20px;
  
}
.answer:last-child{
  margin-top: 10px;
  /* background-color: rgba(255, 255, 255, 0.287); */
}
.answer p:first-child{
  font-family: 'Rubik', sans-serif; 
  text-align: left;
}
.answer p:last-child{
  font-family: 'Rubik', sans-serif; 
  
}

.users-list{
  background-color: white;
  width: 22vw;
  height: 6vh;
  border: 2px solid rgb(12, 0, 80);
  border-radius: 10px;
  margin: 3em;
  color:rgb(12, 0, 80);
  font-size: 1em;
  font-family: 'Rubik', sans-serif; 
}

.users-list option{
  color:rgb(12, 0, 80);
  font-size: 1.1em;
  font-family: 'Rubik', sans-serif; 
 
}

.score{
  background-image: linear-gradient(to bottom, rgb(96, 194, 250), rgb(255, 255, 255)  );
  height: fit-content;
  padding: 1.2em;
  border-radius: 20px;
  margin-top: 3vh;
}
.score-number{
  background-color: transparent;
  border:2px solid rgb(13, 3, 102) ;
  height: 60px;
  width: 4vw;
  border-radius: 50px;
}

label{
  font-size: 1.1em;
  font-family: 'Rubik', sans-serif; 
}

.rank{
  height: 60px;
  width: 4vw;
  border:2px solid transparent ;
  border-radius: 50px;
  margin-top: -4vh;
  margin-left: -3vh;
  line-height:60px;
  font-size: 1.1em;
  font-family: 'Permanent Marker', cursive;
  color:rgb(0, 0, 0);
  /* color:rgb(176, 179, 4); */
}

.new-question{
  width: 21vw;
  height:  4vh;
  border: 2px solid rgb(13, 3, 102);
  border-radius: 9px;
  font-family: 'Rubik', sans-serif; 
}

a{
  text-decoration: none;
}





